coding-style*
*.o
*.gcno
*.gcda
*.gcov
obj/
.vscode/
.DS_Store
Makefile
*.so
*.dll
*.pdb
*.dylib
.idea/
build/
build_debug/
bin/
cmake-build-*/
r-type_client
r-type_server
r-type_client.exe
r-type_server.exe
vcpkg/
vgcore*
saves/
epitech-sprites-1
coding.md
trickle
vcpkg_installed/

# Node.js / Frontend
node_modules/
frontend/node_modules/
.env
package-lock.json
