name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  MIRROR_URL: "git@github.com:EpitechPGE3-2025/G-CPP-500-NAN-5-2-rtype-2.git"

jobs:
  check_repository:
    name: check repository to start jobs
    runs-on: ubuntu-latest
    outputs:
      target: ${{ steps.new_output.outputs.value }}
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v4

      - name: CHECK TARGET REPOSITORY
        id: new_output
        run: |
          temp=$(echo $MIRROR_URL | cut -d ':' -f 2 | sed "s/\.git//")
          if [ $temp = ${{ github.repository }} ]; then
            echo "::notice title=The target repository is also the current one::$temp"
            echo "value=1" >> "$GITHUB_OUTPUT"
            exit 0
          fi
          echo "value=0" >> "$GITHUB_OUTPUT"
          exit 0

  check_coding_style:
    name: check any coding style errors
    needs: [check_repository]
    if: ${{ needs.check_repository.outputs.target == 0 }}
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v4

      - name: INSTALL CPP LINTER
        run: |
          apt update && apt install -y python3-pip
          pip install cpplint
          chmod +x ./scripts/cpp_style_checker.sh

      - name: CHECK CODING STYLE
        run: |
          ./scripts/cpp_style_checker.sh

      - name: VERIFY CPP CODING STYLE
        run: |
          if [ -s coding-style-cpp-reports.log ]; then
            echo "CPP coding style errors found. See coding-style-cpp-reports.log for details."
            cat coding-style-cpp-reports.log
            exit 1
          else
            echo "No CPP coding style errors found."
          fi

  check_compilation:
    name: check project compilation
    needs: [check_coding_style]
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v4

      - name: RUN COMPILATION
        run: |
          chmod +x ./scripts/compile_project.sh
          ./scripts/compile_project.sh

  run_all_tests: # This job should be updated when compilation script is ready
    name: run all tests
    needs: [check_coding_style]
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v4

      # - name: RUN UNIT TESTS
      #   run: |
      #     chmod +x ./scripts/run_unit_tests.sh
      #     ./scripts/run_unit_tests.sh

  push_to_mirror:
    name: push to target repository
    needs: [run_all_tests]
    if: ${{ github.event_name == 'push' }}
    environment: RTYPE
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: REPOSITORY MIRRORING
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
